DB_HOST=db
DB_PORT=27017
DB_USER=root
DB_PASSWORD=....
DB_NAME=dbname

PORT=4000
JWT_SECRET=.......
JWT_EXPIRES_IN=7d
MAIN_DOMAIN=localhost
CORS_ORIGIN=http://localhost:3000
BOOTSTRAP_USER_TOKEN=........ # one-time first user bootstrap (disable by removing)

DATABASE_URL=mongodb://root:pass@db:27017/dbname?authSource=admin
NODE_ENV=development # production or development

# Redis
REDIS_URL=redis://localhost:6379
# RabbitMQ
RABBITMQ_URL=amqp://pass:pass@localhost:5672

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=578
SMTP_USER=example@gmail.com
SMTP_PASS=**** **** **** ****
SMTP_FROM=example@gmail.com

# Stripe
STRIPE_SECRET_KEY=sk_live_...........
STRIPE_WEBHOOK_SECRET=whsec_........
